<%= form_for(@weather) do |f| %>
  <% if @weather.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weather.errors.count, "error") %> prohibited this weather from being saved:</h2>

      <ul>
      <% @weather.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %><br>
    <%= f.number_field :location %>
  </div>
  <div class="field">
    <%= f.label :high %><br>
    <%= f.number_field :high %>
  </div>
  <div class="field">
    <%= f.label :low %><br>
    <%= f.number_field :low %>
  </div>
  <div class="field">
    <%= f.label :condition %><br>
    <%= f.text_field :condition %>
  </div>
  <div class="field">
    <%= f.label :wind_speed %><br>
    <%= f.number_field :wind_speed %>
  </div>
  <div class="field">
    <%= f.label :loc_name %><br>
    <%= f.text_field :loc_name %>
  </div>
  <div class="field">
    <%= f.label :sunrise %><br>
    <%= f.number_field :sunrise %>
  </div>
  <div class="field">
    <%= f.label :sunset %><br>
    <%= f.number_field :sunset %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
