---
title: James W. Davis, Publications
---

<Br>

<table style="width:80%" border="1" cellpadding="3" cellspacing="0" align="center">
	<tr>
		<th>Publication name</th>
		<th>Authors </th> 
		<th>Location and Date</th>
	</tr>
  	<tr>
    		<td>A Multi-Transformational Model for Background Subtraction with Moving Cameras</td>
    		<td>D. Zamalieva, A. Yilmaz, and J. Davis</td> 
    		<td>European Conference on Computer Vision, September 2014</td>
  	</tr>
	<tr>
    		<td>Exploiting Temporal Geometry for Moving Camera</td>
    		<td>D. Zamalieva, A. Yilmaz, and J. Davis</td> 
    		<td>International Conference on Pattern Recognition, August 2014</td>
  	</tr>
	<tr>
    		<td>Temporally-Dependent Dirichlet Process Mixtures for Egocentric Video Segmentation</td>
    		<td>J. Barker and J. Davis</td> 
    		<td>IEEE Workshop on Egocentric Vision, June 2014</td>
  	</tr>
	<tr>
		<td><%= link_to "Summarizing High-Level Scene Behavior", "http://web.cse.ohio-state.edu/~jwdavis/Publications/MVA-13.pdf" %></td> 
		<td>K. Streib and J. Davis</td>
		<td>Machine Vision and Applications Journal, 2013</td>
	</tr>
	<tr>
		<td><%= link_to "One-Class Multiple Instance Learning and Applications to Target Tracking", "http://web.cse.ohio-state.edu/~jwdavis/Publications/ACCV-12.pdf" %></td> 
		<td>K. Sankaranarayanan and J. Davis</td>
		<td>Asian Conference on Computer Vision, November 2012</td>
	</tr>
	<tr>
		<td><%= link_to "Segmentation and Scene Modeling for MIL-based Target Localization", "http://web.cse.ohio-state.edu/~jwdavis/Publications/ICPR-12.pdf" %></td> 
		<td>K. Sankaranarayanan and J. Davis</td>
		<td>International Conference on Pattern Recognition, November 2012</td>
	</tr>
	<tr>
		<td><%= link_to "Detecting Behavioral Zones in Local and Global Camera Views", "http://web.cse.ohio-state.edu/~jwdavis/Publications/MVA2012.pdf" %></td> 
		<td>M. Nedrich and J. Davis</td>
		<td>Machine Vision and Applications, Vol. 23, 2012, pp. 1-27</td>
	</tr>
	<tr>
		<td><%= link_to "Recovery and Reasoning about Occlusions in 3D using Few Cameras with Applications to 3D Tracking", "http://web.cse.ohio-state.edu/~jwdavis/Publications/OSU-CISRC-11-11-TR34.pdf" %></td> 
		<td> M. Keck and J. Davis</td>
		<td>International Journal of Computer Vision</td>
	</tr>

	<tr>
		<td><%= link_to "Activity Analysis in Wide-Area Surveillance Video", "http://web.cse.ohio-state.edu/~jwdavis/Publications/OSU-CISRC-11-11-TR34.pdf" %></td> 
		<td> R. Feather and J. Davis</td>
		<td>OSU Dept. Computer Science and Engineering Technical Report OSU-CISRC-11/11-TR34, 2011</td>
	</tr>
	<tr>
		<td><%= link_to "Object Association Across PTZ Cameras using Logistic MIL", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td> K. Sankaranarayanan and J. Davis</td>
		<td>IEEE Conference on Computer Vision and Pattern Recognition, June 2011</td>
	</tr>
	<tr>
		<td><%= link_to "Using Ripley's K-function to Improve Graph-Based Clustering Techniques", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11a.pdf" %></td> 
		<td> K. Streib and J. Davis</td>
		<td>IIEEE Conference on Computer Vision and Pattern Recognition, June 2011</td>
	</tr>	
	<tr>
		<td>Camera Control and Geo-Registration for Video Sensor Networks</td> 
		<td>J. Davis</td>
		<td>Distributed Video Sensor Networks</i>, B. Bhanu (ed.), Springer, January 2011</td>
	</tr>
	<tr>
		<td><%= link_to"Attention-based Target Localization using Multiple Instance Learning", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td> K. Sankaranarayanan and J. Davis</td>
		<td>International Symposium on Visual Computing, November 2010</td>
	</tr>
	<tr>
		<td><%= link_to"Learning Scene Entries and Exits using Coherent Motion Regions", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td> M. Nedrich and J. Davis</td>
		<td>International Symposium on Visual Computing, November 2010</td>
	</tr>
	<tr>
		<td><%= link_to"Exploiting Multiple Cameras for Environmental Pathlets", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td> K. Streib and J. Davis</td>
		<td>International Symposium on Visual Computing, November 2010</td>
	</tr>
	<tr>
		<td><%= link_to"PTZ Camera Modeling and Panoramic View Generation via Focal Plane Mapping", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>K. Sankaranarayanan and J. Davis</td>
		<td>Asian Conference on Computer Vision, November 2010</td>
	</tr>
	<tr>
		<td><%= link_to"Learning Directed Intention-driven Activities using Co-Clustering", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>K. Sankaranarayanan and J. Davis</td>
		<td>IEEE Conference on Advanced Video and Signal Based Surveillance, August 2010</td>
	</tr>
	<tr>
		<td><%= link_to"Extracting Pathlets From Weak Tracking Data", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>K. Streib and J. Davis</td>
		<td>IEEE Conference on Advanced Video and Signal Based Surveillance, August 2010</td>
	</tr>
	<tr>
		<td><%= link_to"Geo-registration and Interactive Control for Distributed Camera Networks", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>M. Nedrich, K. Sankaranarayanan, and J. Davis</td>
		<td>OSU Dept. Computer Science and Engineering Technical Report OSU-CISRC-6/10-TR13, 2010</td>
	</tr>
	<tr>
		<td><%= link_to"How Panoramic Visualization can Support Human Supervision of Intelligent Surveillance", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>A. Morison, D. Woods, and J. Davis</td>
		<td>Annual Meeting of the Human Factors and Ergonomics Society, October 2009</td>
	</tr>

	<tr>
		<td><%= link_to"Human Detection and Tracking", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis, V. Sharma, A. Tyagi, and M. Keck</td>
		<td>Encyclopedia of Biometrics, S. Li (ed.), Springer, July 2009</td>
	</tr>
	
	<tr>
		<td><%= link_to"A Feature-Selection Approach to Fusing Electro-Optical and IR Imagery", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>V. Sharma and J. Davis</td>
		<td>SPIE Newsroom: Electronic Imaging & Signal Processing, February 2009</td>
	</tr>

	<tr>
		<td><%= link_to"Feature-Level Fusion for Object Segmentation Using Mutual Information", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>V. Sharma and J. Davis</td>
		<td>Augmented Vision Perception in Infrared, Springer, December 2008, pp. 295-319</td>
	</tr>

	<tr>
		<td><%= link_to"A Fast Linear Registration Framework for Multi-Camera GIS Coordination", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>K. Sankaranarayanan and J. Davis</td>
		<td>IEEE International Conference on Advanced Video and Signal Based Surveillance, September 2008</td>
	</tr>
	<tr>
		<td><%= link_to"3D Occlusion Recovery using Few Cameras", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>M. Keck and J. Davis</td>
		<td>IEEE Conference on Computer Vision and Pattern Recognition, June 2008</td>
	</tr>
	<tr>
		<td><%= link_to"A Recursive Filter For Linear Systems on Riemannian Manifolds", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>A. Tyagi and J. Davis</td>
		<td>IEEE Conference on Computer Vision and Pattern Recognition, June 2008</td>
	</tr>
	<tr>
		<td><%= link_to"An Efficient Active Camera Model for Video Surveillance", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>K. Sankaranarayanan and J. Davis</td>
		<td>IEEE Workshop on Applications of Computer Vision, January 2008</td>
	</tr>
	<tr>
		<td><%= link_to"A Context-Based Tracker Switching Framework", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>A. Tyagi and J. Davis</td>
		<td>IEEE Workshop on Motion and Video Computing, January 2008</td>
	</tr>
	<tr>
		<td><%= link_to"Steepest Descent For Efficient Covariance Tracking", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>A. Tyagi, J. Davis, and G. Potamianos</td>
		<td>IEEE Workshop on Motion and Video Computing, January 2008</td>
	</tr>
	<tr>
		<td><%= link_to"Integrating Appearance and Motion Cues for Simultaneous Detection and Segmentation of Pedestrians", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>V. Sharma and J. Davis</td>
		<td>IEEE International Conference on Computer Vision, October 2007</td>
	</tr>
	<tr>
		<td><%= link_to"Kernel-Based 3D Tracking", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>A. Tyagi, M. Keck, J. Davis, and G. Potamianos</td>
		<td>IEEE International Workshop on Visual Surveillance, June 2007</td>
	</tr>
	<tr>
		<td><%= link_to"Simultaneous Detection and Segmentation of Pedestrians using Top-down and Bottom-up Processing", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>V. Sharma and J. Davis</td>
		<td>IEEE International Workshop on Visual Surveillance, June 2007</td>
	</tr>
	<tr>
		<td><%= link_to"Background-Subtraction using Contour-based Fusion of Thermal and Visible Imagery", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis and V. Sharma</td>
		<td>Computer Vision and Image Understanding, Vol. 106, No. 2-3, 2007, pp. 162-182</td>
	</tr>
	<tr>
		<td><%= link_to"An Adaptive Focus-of-Attention Model for Video Surveillance and Monitoring", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis, A. Morison, and D. Woods</td>
		<td>Machine Vision and Applications</i>, Vol. 18, No. 1, 2007, pp. 41-64</td>
	</tr>
	<tr>
		<td><%= link_to"Building Adaptive Camera Models for Video Surveillance", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis, A. Morison, and D. Woods</td>
		<td>IEEE Workshop on Application of Computer Vision, February 2007</td>
	</tr>
	<tr>
		<td><%= link_to"Extraction of Person Silhouettes from Surveillance Imagery using MRFs", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>V. Sharma, J. Davis, and A. Tyagi</td>
		<td>IEEE Workshop on Application of Computer Vision, February 2007</td>
	</tr>
	<tr>
		<td><%= link_to"Coverage Optimization to Support Security Monitoring", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>A. Murray, K. Kim, J. Davis, R. Machiraju, R. Parent</td>
		<td>Computers, Environment and Urban Systems</I>, Vol. 31, 2007, pp. 133-147</td>
	</tr>
	<tr>
		<td><%= link_to"Background-Subtraction in Thermal Imagery Using Contour Saliency", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis and V. Sharma</td>
		<td>International Journal of Computer Vision, Vol. 71, No. 2, 2007, pp. 161-181.(online version June 2006)</td>
	</tr>
	<tr>
		<td><%= link_to"Tracking Mean Shift Clustered Point Clouds for 3D Surveillance", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>M. Keck, J. Davis, and A. Tyagi</td>
		<td>ACM Multimedia Workshop on Video Surveillance and Sensor Networks, October 2006, pp. 187-194</td>
	</tr>
	<tr>
		<td><%= link_to"Tracking Mean Shift Clustered Point Clouds for 3D Surveillance", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>M. Keck, J. Davis, and A. Tyagi</td>
		<td>ACM Multimedia Workshop on Video Surveillance and Sensor Networks, October 2006, pp. 187-194</td>
	</tr>
	<tr>
		<td><%= link_to"Multiview Fusion for Canonical View Generation based on Homography Constraints", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>A. Tyagi, J. Davis, and M. Keck</td>
		<td>ACM Mulimedia Workshop on Video Surveillance and Sensor Networks, October 2006, pp. 61-69</td>
	</tr>
	<tr>
		<td><%= link_to"Minimal-Latency Human Action Recognition using Reliable-Inference", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis and A. Tyagi</td>
		<td>Image and Vision Computing, Vol. 24, 2006, pp. 455-472</td>
	</tr>
	<tr>
		<td><%= link_to"Human Activity Recognition for Synthesis", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>Y. Chen, R. Parent, R. Machiraju, and J. Davis</td>
		<td>IEEE Workshop on Learning, Representation, and Context for Human Sensing in Video, New York, NY, June 22, 2006.</td>
	</tr>
	<tr>
		<td><%= link_to"Feature-level Fusion for Object Segmentation using Mutual Information", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>V. Sharma and J. Davis</td>
		<td>IEEE Workshop on Object Tracking and Classification in and Beyond the Visible Spectrum, 
New York, NY, June 22, 2006.</td>
	</tr>
	<tr>
		<td><%= link_to"Sampling Representative Examples for Dimensionality Reduction and Recognition - Bootstrap
Bumping LDA", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>H. Gao and J. Davis</td>
		<td>European Conference on Computer Vision (ECCV), Graz, Austria, May 7-13, 2006</td>
	</tr>
	<tr>
		<td><%= link_to"Why Direct LDA Is Not Equivalent to LDA", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>H. Gao and J. Davis</td>
		<td>Pattern Recognition, Vol. 39, 2006, pp. 1002-1006</td>
	</tr>
	<tr>
		<td><%= link_to"Event Template Hierarchies as Means for Human-Automation Collaboration in Security Surveillance", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>D. Woods, S. McNee, J. Davis, A. Morison, P. Maughan, and K. Christoffersen</td>
		<td>Human Factors and Ergonomics Society Annual Meeting, Orlando, FL, September 26-28, 2005</td>
	</tr>
	<tr>
		<td><%= link_to"Modeling Behavior Trends and Detecting Abnormal Events using Seasonal
Kalman Filters", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis and M. Keck</td>
		<td>Workshop on Human Activity Recognition and Modeling, Oxford, UK,  September 9, 2005</td>
	</tr>
	<tr>
		<td><%= link_to"Fusion-based Background-Subtraction using Contour Saliency", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis and V. Sharma</td>
		<td>IEEE Workshop on Object Tracking and Classification in and Beyond the Visible Spectrum, 
		San Diego, CA, June 20, 2005</td>
	</tr>
	<tr>
		<td><%= link_to"A Two-Stage Template Approach to Person Detection in Thermal Imagery", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis and M. Keck</td>
		<td>Workshop on Applications of Computer Vision,  Breckenridge, Colorado, January 5-7, 2005</td>
	</tr>
	<tr>
		<td><%= link_to"Differential Video Coding of Face and Gesture Events in Presentation Videos", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>R. Tan and J. Davis</td>
		<td>Computer Vision and Image Understanding, Vol. 96, No. 2, 2004, pp. 200-215</td>
	</tr>
	<tr>
		<td><%= link_to"Robust Detection of People in Thermal Imagery", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis and V. Sharma</td>
		<td>International Conference on Pattern Recognition,
Cambridge, United Kingdom, August 23-26</td>
	</tr>
	<tr>
		<td><%= link_to"Sequential Reliable-Inference for Rapid Detection of Human Actions", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis</td>
		<td>IEEE Workshop on Detection and Recognition of Events in Video,
Washington DC, July 2, 2004</td>
	</tr>
	<tr>
		<td><%= link_to"Robust Background-Subtraction for Person Detection in Thermal Imagery", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis and V. Sharma</td>
		<td>IEEE International Workshop on Object Tracking and Classification 
Beyond the Visible Spectrum, Washington DC, July 2, 2004</td>
	</tr>
	<tr>
		<td><%= link_to"Gender Recognition from Walking Movements using Adaptive Three-Mode PCA", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis and H. Gao</td>
		<td>IEEE Workshop on Articulated and Nonrigid Motion, Washington DC, June 27, 2004</td>
	</tr>
	
	<tr>
		<td><%= link_to"An Expressive Three-Mode Principal Components Model of Human
Action Style", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis and H. Gao</td>
		<td>Image and Vision Computing, Vol. 21, No. 11, 2003, pp. 1001-1016</td>
	</tr>
	<tr>
		<td><%= link_to"Recognizing Human Action Efforts: An Adaptive Three-Mode PCA Framework", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis and H. Gao</td>
		<td>International Conference on Computer Vision, Nice, France,
October 13-16, 2003, pp. 1463-1469</td>
	</tr>
	<tr>
		<td><%= link_to"A Reliable-Inference Framework for Recognition of Human Actions", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis and A. Tyagi</td>
		<td>IEEE International Conference on Advanced Video and Signal Based Surveillance,
Miami, Florida, July 21-22, 2003, pp. 169-176</td>
	</tr>
	<tr>
		<td><%= link_to"A Three-Mode Expressive Feature Model of Action Effort", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis, H. Gao, and V. Kannappan</td>
		<td>IEEE Workshop on Motion and Video Computing, Orlando, Florida, December 5-6, 2002, pp. 139-144</td>
	</tr>
	<tr>
		<td><%= link_to"Motion Segmentation and Pose Recognition with Motion History Gradients", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>G. Bradski and J. Davis</td>
		<td>International Journal of Machine Vision and Applications, Vol. 13, No. 3, 2002, pp. 174-184</td>
	</tr>
	<tr>
		<td><%= link_to"Analysis and Recognition of Walking Movements", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis and S. Taylor</td>
		<td>International Conference on Pattern Recognition, Quebec City, Canada, August 11-15, 2002, pp. 315-318</td>
	</tr>
	<tr>
		<td><%= link_to"Expressive Features for Movement Exaggeration", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis and V. Kannappan</td>
		<td>SIGGRAPH Conference Abstracts and Applications (Technical Sketches), San Antonio, Texas, July 24, 2002, pp. 182</td>
	</tr>
	<tr>
		<td><%= link_to"The Representation and Recognition of Action Using Temporal Templates", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>A. Bobick and J. Davis</td>
		<td>IEEE Transactions on Pattern Analysis and Machine Intelligence, Vol. 23, No. 3, 2001, pp. 257-267</td>
	</tr>
	<tr>
		<td><%= link_to"A Perceptual User Interface for Recognizing Head Gesture Acknowledgements", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis and S. Vaks</td>
		<td>ACM Workshop on Perceptual User Interfaces, Orlando, Florida, November 15-16, 2001</td>
	</tr>
	<tr>
		<td><%= link_to"Representing and Recognizing Human Motion: From Motion Templates to Movement Categories", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis</td>
		<td>Digital Human Modeling Workshop, International Conference on Intelligent Robots and Systems, Maui, Hawaii, October 29, 2001</td>
	</tr>
	<tr>
		<td><%= link_to"Hierarchical Motion History Images for Recognizing Human Motion", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis</td>
		<td>IEEE Workshop on Detection and Recognition of Events in Video, Vancouver, Canada, July 8, 2001</td>
	</tr>
	<tr>
		<td><%= link_to"Visual Categorization of Children and Adult Walking Styles", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis</td>
		<td>International Conference on Audio- and Video-based Biometric Person Authentication, Halmstad, Sweden, June 6-8, 2001, pp. 295-300</td>
	</tr>
	<tr>
		<td><%= link_to"Physically Interactive Story Environments", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>C. Pinhanez, J. Davis, S. Intille, M. Johnson, A. Wilson, A. Bobick, and B. Blumberg</td>
		<td>IBM Systems Journal, Vol. 39, No. 3/4, 2000, pp. 438-455</td>
	</tr>
	<tr>
		<td><%= link_to"Motion Segmentation and Pose Recognition with Motion History Gradients", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>G. Bradski and J. Davis</td>
		<td>IEEE Workshop on Applications of Computer Vision, December 2000, pp. 174-184</td>
	</tr>
	<tr>
		<td><%= link_to"Categorical Representation and Recognition of Oscillatory Motion Patterns", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis, A. Bobick, W. Richards</td>
		<td>IEEE Conference on Computer Vision and Pattern Recognition, June 2000, pp. 628-635</td>
	</tr>
	<tr>
		<td><%= link_to"Relating Categories of Intentional Animal Motions", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis and W. Richards</td>
		<td>OSU Dept. Computer and Information Science Technical Report OSU-CISRC-11/00-TR25, November 2000</td>
	</tr>
	<tr>
		<td><%= link_to"The Kidsroom: A Perceptually-Based Interactive and Immersive Story Environment", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>A. Bobick, S. Intille, J. Davis, F. Baird, C. Pinhanez, L. Campbell, Y. Ivanov, A. Schutte, and A. Wilson</td>
		<td>Presence: Teleoperators and Virtual Environments, Vol. 8, No. 4, 1999, pp. 367-391</td>
	</tr>
	<tr>
		<td><%= link_to"Toward 3-D Gesture Recognition", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis and M. Shah</td>
		<td>International Journal of Pattern Recognition and Artificial Intelligence, Volume 13 Number 3, May 1999, pp. 381-393</td>
	</tr>
	<tr>
		<td><%= link_to"Real-time Motion Template Gradients using Intel CVLib", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis and G. Bradski</td>
		<td>IEEE ICCV Workshop on Frame-rate Vision, September 1999</td>
	</tr>
	<tr>
		<td><%= link_to"Recognizing Movement using Motion Histograms", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis</td>
		<td>MIT Technical Report #487, March 1999</td>
	</tr>
	<tr>
		<td><%= link_to"A Robust Human-Silhouette Extraction Technique for Interactive Virtual Environments", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis and A. Bobick</td>
		<td>IFIP Workshop on Modeling and Motion Capture Techniques for Virtual Environments, 1998</td>
	</tr>
	<tr>
		<td><%= link_to"Virtual PAT: A Virtual Personal Aerobics Trainer", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis and A. Bobick</td>
		<td>Workshop on Perceptual User Interfaces, November 1998, pp. 13-18</td>
	</tr>
	<tr>
		<td><%= link_to"Perceptive Spaces for Performance and Entertainment", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>C. Wren, F. Sparacino, A. Azarbayejani, T. Darrell, J. Davis, T. Starner, A. Kotani, C. Chao, M. Hlavac, K. Russell, A. Bobick, and A. Pentland</td>
		<td>ATR Workshop on Virtual Communication Environments, April 1998</td>
	</tr>
	<tr>
		<td><%= link_to"Design Decisions for Interactive Environments: Evaluating the KidsRoom Application Using a Deep Perceptual Interface", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>A. Bobick, S. Intille, J. Davis, F. Baird, C. Pinhanez, L. Campbell, Y. Ivanov, A. Schutte, and A. Wilson</td>
		<td>AAAI Spring Symposium on Intelligent Environments, March 1998, pp. 7-16</td>
	</tr>
	<tr>
		<td><%= link_to"The KidsRoom: An Example Application Using a Deep Perceptual Interface", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>A. Bobick, J. Davis, S. Intille</td>
		<td>Workshop on Perceptual User Interfaces, October 1997, pp. 1-4</td>
	</tr>
	<tr>
		<td><%= link_to"The Representation and Recognition of Action Using Temporal Templates", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis and A. Bobick</td>
		<td>IEEE Conference on Computer Vision and Pattern Recognition, June 1997, pp. 928-934</td>
	</tr>
	<tr>
		<td><%= link_to"Real-Time Closed-World Tracking", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>S. Intille, J. Davis, and A. Bobick</td>
		<td>IEEE Conference on Computer Vision and Pattern Recognition, June 1997, pp. 697-703</td>
	</tr>
	<tr>
		<td><%= link_to"Action Recognition Using Temporal Templates", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>A. Bobick and J. Davis</td>
		<td>In M. Shah and R. Jain (eds.)Motion-Based Recognition, 1997, pp. 125-146</td>
	</tr>
	<tr>
		<td><%= link_to"Real-time Recognition of Activity Using Temporal Templates", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>A. Bobick and J. Davis</td>
		<td>IEEE Workshop on Applications of Computer Vision, December 1996, pp. 39-42</td>
	</tr>
	<tr>
		<td><%= link_to"An Appearance-based Representation of Action", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>A. Bobick and J. Davis</td>
		<td>IEEE International Conference on Pattern Recognition, August 1996, pp. 307-312</td>
	</tr>
	<tr>
		<td><%= link_to"Visual Gesture Recognition", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis and M. Shah</td>
		<td>Vision, Image and Signal Processing, Vol. 141, No. 2, 1994, pp. 101-106</td>
	</tr>
	<tr>
		<td><%= link_to"Recognizing Hand Gestures", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis and M. Shah</td>
		<td>European Conference on Computer Vision, 1994, pp. 331-340</td>
	</tr>
	<tr>
		<td><%= link_to"Determining 3-D Hand Motion", "http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf" %></td> 
		<td>J. Davis and M. Shah</td>
		<td>IEEE Asilomar Conference on Signals, Systems, and Computers, October 1994, pp. 1262-1266</td>
	</tr>
	
</table>
