---
title: James W. Davis, Publications
---

<div class="Centered">

	<%= tag :img, :src => "images/1.PNG",:width=>'600'%>
	<br>
	Karthik and Matt back for a visit (October 21, 2013).
	<br>
	<%= tag :img, :src => "images/2.PNG",:width=>'600'%>
	<br>
	Davis lab out for lunch (June 2012).
	<br>
	<%= tag :img, :src => "images/3.PNG",:width=>'600'%>
	<br>
	Kevin signing "the Ph.D. hat" (April 2012).
	<br>
	<%= tag :img, :src => "images/4.PNG",:width=>'600'%>
	<br>
	Kevin wearing "the Ph.D. hat" (April 2012).
	<br>
	<%= tag :img, :src => "images/5.PNG",:width=>'600'%>
	<br>
	Prof. Davis speaking at AU11 orientation.<br>
	<br>
	<%= tag :img, :src => "images/6.PNG",:width=>'600'%>
	<br>
	Karthik signing "the Ph.D. hat".
	<br>
	<%= tag :img, :src => "images/7.PNG",:width=>'600'%>
	<br>
	Karthik wearing "the Ph.D. hat".
	<br>
	<%= tag :img, :src => "images/8.PNG",:width=>'600'%>
	<br>
	Current and past members of the lab at "Garden of the Gods" (Colorado Springs), 2011.
	<br>
	Pictured (left-to-right): Kevin Streib, Vinay Sharma, Karthik Sankaranarayanan, 
	Prof. Davis, Ambrish Tyagi, Mark Keck.
	<br>
	<%= tag :img, :src => "images/9.PNG",:width=>'600'%>
	<br>
	Matt and Kevin (far right) featured in picture and news article on AFRL research.
	<br>
	<%= tag :img, :src => "images/10.PNG",:width=>'600'%>
	<br>
	2009 lab photo. Pictured (left-to-right): Billy Hartmann, Prof. Davis, Ambrish Tyagi, Matt Nedrich,
	Karthik Sankaranarayanan, Karl Salva, Mark Keck.<br>
	<br>
	<%= tag :img, :src => "images/11.PNG",:width=>'600'%>
	<br>
	2007 lab photo. Pictured (left-to-right): Billy Hartmann, Mark Keck, Hui Gao (alum visiting) 
	Prof. Davis, Ambrish Tyagi, Vinay Sharma.<br>
	<br>

</div>
