<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name %>
  </div>

  <div class="field">
    <%= f.label :background %><br>
    <%= f.text_field :background %>
  </div>
  <div class="field">
    <%= f.label :fontSize %><br>
    <%= f.number_field :fontSize %>
  </div>
  <div class="field">
    <%= f.label :fontColor %><br>
    <%= f.text_field :fontColor %>
  </div>
  <div class="field">
    <%= f.label :fontFamily %><br>
    <%= f.text_field :fontFamily %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
