<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @setting.user_name%>
</p>

<p>
  <strong>Background:</strong>
  <%= @setting.background %>
</p>

<p>
  <strong>Fontsize:</strong>
  <%= @setting.fontSize %>
</p>

<p>
  <strong>Fontcolor:</strong>
  <%= @setting.fontColor %>
</p>

<p>
  <strong>Fontfamily:</strong>
  <%= @setting.fontFamily %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
